<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="css/create.css">
</head>

<body>
    <h1>
        Add New Task
    </h1>
    <form action="/" method="POST">
        <input type="text" name="heading" placeholder="heading"><br>
        <textarea placeholder="description" name="description"></textarea><br>
        <button>Add new task</button>
        
    </form>
    <form action="/">
        <button>Home</button>
    </form>

</body>
<script src="/js/create.js"></script>

</html>