@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
body{
    background-image: linear-gradient(to top left, rgb(23, 104, 170),rgb(181, 239, 247));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "BioRhyme";
    color:rgb(255, 0, 149);
    overflow-x: hidden;
}
.content{
   
    align-items: center;
    text-align: center;
    margin-left: auto;
}

h2{
    color:rgb(255, 0, 64);
}

textarea{
    resize: none;
    font-family: "BioRhyme";
    color:rgb(158, 29, 184);
    font-size: 1rem;
    border:3px solid rgb(158, 29, 184);
}
textarea:focus{
    outline: none;
}

button{
    min-width: 100px;
    font-size: 1rem;
    font-family: "BioRhyme";
    background-color: rgb(129, 3, 20);
    color:orange;
    border:3px solid orange;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}

button:hover{
    background-color: rgb(77, 4, 14);
    transition: all 0.25s;
}